a{text-decoration: none; color: #000}
header{width: 300px; height: 100vh; border-right: 1px solid #ddd;}
h1{text-align: center;}
h1 a{
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    display: block;
}
nav{margin-top: 50px;}
nav>ul{
    border-top: 1px solid #ddd;
}
nav>ul>li{
    border-bottom: 1px solid #ddd;
    text-align: center;
}
nav>ul>li:hover{
    background: #f00;
}
nav>ul>li>a{
    display: block;
    padding: 20px;
}
nav>ul>li>ul{
    display: none;
}
nav>ul>li:hover>ul{
    display: block;
    background: #ddd;
}
nav>ul>li>ul>li{
    transition: .3s;
}
nav>ul>li>ul>li:hover{
    background: #000;
}
nav>ul>li>ul>li:hover a{
    color: #fff;
}
nav>ul>li>ul>li>a{
    display: block;
    padding: 20px;
}



/* nav{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ddd;
    height: 80px;
}
nav .bg{
    width: 100%;
    height: 240px;
    background: yellowgreen;
    position: absolute;
    top: 80px;
    display: none;
}
nav:hover .bg{
    display: block;
}
nav>ul{
    display: flex; justify-content: center;
    height: 100%;
    align-items: center;
}
nav>ul>li{width: 130px; text-align: center;}
nav>ul>li>a{
    text-decoration: none;
    color: #333;
    transition: .3s;
    display: block;
    padding: 10px 20px;
}
nav>ul>li:hover>a{
    color: #f00;
}
nav>ul>li>ul{
    display: none; position: absolute;
    top:80px;
    width: 130px;

}
nav:hover>ul>li>ul{display: block;}
nav>ul>li>ul>li{
    text-align: center;
    width: 100%;
}
nav>ul>li>ul>li>a{
    display: block;
    padding: 20px 0;
    text-decoration: none;
    color: #fff;
}
nav>ul>li>ul>li>a:hover{
    text-decoration: underline;
} */