a{text-decoration: none; color:#000}
#wrap{
    margin: 50px;
}
#wrap>nav{

}
#wrap>nav>ul{
    display: flex;
    justify-content: center;
}
#wrap>nav>ul>li{
    position: relative;
}
#wrap>nav>ul>li>a{
    font-size: 2em;
    padding: 10px 20px;
    color: #3c95ee;
    text-shadow: 2px 2px 5px #3c95ee;
}
#wrap>nav>ul>li>ul{
    display: none;
    background: #cdf1f6;
    height: 50px;
    position: absolute;
    width: 500px;   
    top: 45px;
}
#wrap>nav>ul>li:nth-child(3)>ul{
    width: 700px;
}
#wrap>nav>ul>li:nth-child(4)>ul,
#wrap>nav>ul>li:nth-child(5)>ul
{
    right: 0;
}
#wrap>nav>ul>li:nth-child(3)>ul{
    left:-250px
}
#wrap>nav>ul>li:hover>ul{
    display: block;
}
#wrap>nav>ul>li>ul>li{
    float: left;
}
#wrap>nav>ul>li>ul>li a{
    display: block;
    padding: 10px;
    line-height: 30px;
}



 /* 
 justify-content: center;가운데정렬 
 - :nth-child -3번째있는 항목은 넓이는700을 가저라-
 #wrap>nav>ul>li{
    position: relative;/* 기준선언 */
/* }

#wrap>nav>ul>li>a */ /* )굴자크게바꾸기) 여백주기 */
    /* font-size: 2em;
    padding: 10px 20px;
    color: #3c95ee;
    text-shadow: 2px 2px 5px #3c95ee;

    #wrap>nav>ul>li>ul>li{
    float: left; 하위메뉴바를 좌측으로 정렬

    #wrap>nav>ul>li>ul>li a{ 마우스 클릭했을때 영역을 넓혀줌
    display: block;
    padding: 10px;
    line-height: 30px;
}

}

*/