*{margin: 0; padding: 0; box-sizing: border-box;}
body{margin: 20px;}
.box{border: 5px solid #ddd; padding: 20px;  box-sizing: border-box;margin-bottom: 20px;}

.container{border: 1px solid #ccc; margin-bottom: 10px;  box-sizing: border-box;}
.container>div{
    padding: 20px 40px;
    background: green;
    width: 300px;
    margin: 10px 0;
   
}
.container>div:nth-child(odd){background: rgb(255, 140, 0);}

.content1 #opt1{
    display: flex;
    flex-direction: row;
}
.content1 #opt2{
    display: flex;
    flex-direction: row-reverse;
}
.content1 #opt3{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 1000px) {
   .content1  #opt3{
        flex-direction:column;
    }
}
.content1 #opt4{
    display: flex;
    flex-direction: column-reverse;
}

.content2 #opt11{
    display: flex;
    flex-wrap: nowrap;
}
@media screen and (max-width: 1000px) {
    .content2 #opt11{
        flex-wrap: wrap;
    }
}

.content2 #opt12{
    display: flex;
    flex-wrap: wrap;
}
.content2 #opt13{
    display: flex;
    flex-wrap: wrap-reverse;
}
.content3 #opt111{
    display: flex;
    justify-content: start;
}
.content3 #opt112{
     display: flex;
    justify-content: end;
}
.content3 #opt113{
     display: flex;
    justify-content: center;
}
.content3 #opt114{
     display: flex;
    justify-content: space-between;
}
.content3 #opt115{
     display: flex;
    justify-content: space-around;
}
.content3 #opt116{
      display: flex;
    justify-content: space-evenly;
}


/* 10-nth-chil
13-opt1에 flex-direction 플랙스박스는 부모에게 지정해줘야함
opt2-row가로로 가다가 방향을 바꿔줘라.
opt3- flex-direction:옆으로 붙어column 옆으로 붙었는데
25- "@medis screen and(max-width 1000px) "
    지정값1000px에 도달하면 밑으로 떨어뜨려라


*/